@tailwind base;
@tailwind components;
@tailwind utilities;
/** @layer will be used when there are a lot of cluttered classes in the html 
* Example usage:-
    <input class="sm:flex-1 max-sm:w-full text-base leading-normal 
    text-slate-gray pl-5 max-sm:p-5 outline-none sm:border-none 
    border max-sm:border-slate-gray max-sm:rounded-full"/>

    Here, there are lots of classes which looks bad.
    For this reason,
    we use 
    @layer components {
        .input {
            @apply sm:flex-1 max-sm:w-full text-base leading-normal 
            text-slate-gray pl-5 max-sm:p-5 outline-none sm:border-none 
            border max-sm:border-slate-gray max-sm:rounded-full
        }
    }
    
    Now, it will be way easier to identify
    <input class="input"/>
**/

.fade-in {
  opacity: 0;
  transform: translateY(50px);
  transition:
    opacity 0.5s ease-out,
    transform 0.5s ease-out;
}

.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}

/* Hide the number input spinner in most browsers */
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield; /* Firefox */
  appearance: none; /* Standard for modern browsers */
}
